# Gradle
.gradle/
/build/
*.iml
.idea/
.kotlin/
local.properties
.DS_Store
*.log
*.class
*.jar
*.war
*.zip
*.tar
*.gz

# Kotlin
*.kotlin_module
.project
.settings/
.classpath
.factorypath

# Android Specific
/app/build/
/app/release/
/app/.externalNativeBuild/
/app/local.properties
/app/.gradle/
/app/.idea/
/app/*.iml
/app/.cxx/
/app/captures/
/app/src/main/jniLibs/
/app/src/main/obj/
/app/src/main/libs/
/app/src/main/resources/
/app/src/main/gen/
/app/src/main/aidl/

# DO NOT ignore source code directories!
# /app/src/main/kotlin/
# /app/src/main/java/
# /app/src/androidTest/
# /app/src/test/

# Mac OS X
.DS_Store
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/libraries/
.idea/modules.xml
.idea/compiler.xml
.idea/codeStyles/
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/runConfigurations/
.idea/shelf/
.idea/templates/
.idea/uiDesigner.xml
.idea/watcherTasks.xml

# Other
temp/
tmp/

# Video Maker Specific - Exported videos in test/debug
*.mp4
*.mov
*.avi
!/app/src/main/res/raw/*.mp4
/docs
